{% extends "base_template.html" %}

    {% load static %}

    {% block content %}
    
    <div class="body_content">
        <div class="us">
            <div class="about_us">
                <h1 class="about_us__title">
                    About us
                </h1>
                <p class="about_us__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima consectetur mollitia ea illo obcaecati accusamus, provident deleniti voluptatibus maxime expedita porro hic, consequuntur repellendus itaque blanditiis nulla corrupti illum consequatur?
                </p>
            </div>
            <div class="picture"></div>
        </div>   
        <div class="knowledges">
            <div class="knowledge">
                <h3 class="knowledge__title">
                    About us
                </h3>
                <p class="knowledge__content">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni neque quibusdam laboriosam sed debitis dolorum similique rerum ab, nulla hic molestias suscipit optio ratione vel perspiciatis non? Eligendi, fugiat maiores.
                </p>
            </div>
            <div class="knowledge">
                <h3 class="knowledge__title">
                    About us
                </h3>
                <p class="knowledge__content">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni neque quibusdam laboriosam sed debitis dolorum similique rerum ab, nulla hic molestias suscipit optio ratione vel perspiciatis non? Eligendi, fugiat maiores.
                </p>
            </div>
            <div class="knowledge">
                <h3 class="knowledge__title">
                    About us
                </h3>
                <p class="knowledge__content">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni neque quibusdam laboriosam sed debitis dolorum similique rerum ab, nulla hic molestias suscipit optio ratione vel perspiciatis non? Eligendi, fugiat maiores.
                </p>
            </div>
        </div>     
        
    </div>
    



    {% endblock %}