@font-face {
    font-family: "beyond";
    src: url("../fonts/beyond-wonderland.regular.ttf");
}
@font-face {
    font-family: "Oswald-Bold";
    src: url("../fonts/Oswald-Bold.ttf");
}
@font-face {
    font-family: "Oswald-Regular";
    src: url("../fonts/Oswald-Regular.ttf");
}
@font-face {
    font-family: "Oswald-SemiBold";
    src: url("../fonts/Oswald-SemiBold.ttf");
}
@font-face {
    font-family: "Oswald-ExtraLight";
    src: url("../fonts/Oswald-ExtraLight.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    /* font-family: 'Roboto', sans-serif; */
}

:root{
    --black:#212529;
    --white:#F8F9FA;
    --blue:#0353A4;
}

.header{
    display: flex;
    background: var(--black);    
    justify-content: center;
    align-content: center;
    height: 5vh;    
}

.brand{
    flex-grow: 1;
    margin: 0px 0px 0px 10px;
    display: flex;
}

.brand__name{
    color: var(--white);
    font-family: "beyond";
    font-size: 36px;
    padding: 5px;
}

.brand__logo{
    display: block;
    width: 50px;
    height: 50px;
    background: url("../img/crow.svg");    
    background-size: 100px 82px;
    background-size: contain;    
}


.menu{
    flex-grow: 4;    
}

.menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;    
}

.menu li{
    list-style:none;  
    display: inline-block;          
}

.menu li a{
    text-decoration: none;
    color: var(--white);
    font-family: "Oswald-Regular";
}

.menu li a:hover{    
    color: var(--blue);
}

.footer{
    position: relative;
}

.contact{
    display: flex;
    background: var(--black);    
    justify-content: center;
    align-content: center;
    height: 5vh;    
}

.info__made{
    color: var(--white);
    font-family: "Oswald-ExtraLight";
    font-size: 12px;
    padding: 5px;
    flex-grow: 4;
    text-align: center;
}

.social_media{
    flex-grow: 1;    
}

.social_media ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;    
}

.social_media li{
    list-style:none;  
    display: inline-block;          
}

.social_media li a{
    text-decoration: none;
    color: var(--white);
    font-family: "Oswald-Regular";
}

.social_media li a:hover{    
    color: var(--blue);
}